@media (min-width: 375px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    .nav_btn {
        text-align: center;
    }
    .nav_btn button {
        border-radius: 5px;
        font-size: 18px;
        width: 90%;
    }

    /* banner part responsive */

    .overley {
        padding-top: 168px;
    }

    .banner_content h1 {
        font-size: 27px;
        line-height: 40px;
    }

    .banner_content p {
        font-size: 18px;
        padding: 36px 0;
    }

    .banner-btn button{
        padding: 14px 25px;
        border-radius: 18px;
        font-size: 14px;
        margin: 0px 8px;
    }

    /* choose part */
    .choose-left {
        padding: 10px 7px;
    }

    .inner-left {
        margin-right: 35px;
    }

    .choose-right h3 {
        font-size: 25px;
        margin-top: 25px;
    }

    .choose-right p {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .common-btn {
        padding: 14px 26px;
        border-radius: 10px;
        font-size: 18px;
        margin: 0px 15px;
    }

    /* service part */
    #service {
        padding: 45px 0;
        text-align: center;
    }

    .heading {
        font-size: 25px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
    }

    .service-box {
        height: 310px;
        margin-top: 25px;
    }

    .box-content h4 {
        font-size: 18px;
    }

    .paragraph {
        line-height: 20px;
        margin-top: 8px;
    }

    .box-content a {
        font-size: 14px;
        padding: 7px 11px;
        margin-top: 17px;
    }

    /* create  part responsive */
    .create-content p {
        font-size: 14px;
        line-height: 24px;
    }

    /* plan part */
    #plan {
        text-align: center;
        padding: 50px 0;
    }
    .plan-title {
        font-size: 21px;
    }
    .plan_content {
        padding-bottom: 0;
        font-size: 14px;
    }
    .plan {
        height: 343px;
        width: 300px;
        padding: 18px 0;
        margin-top: 35px;
    }
    .plan h6 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 13px;
    }
    /* rating part responsive */
    #rating {
        padding: 50px 0;
    }
    .text-center {
        text-align: center!important;
        margin-bottom: 25px;
        font-size: 15px;
        font-weight: 600;
    }
    .rating-content-box {
        margin-top: 30px;
    }
    .rating-content-box h6 {
        font-size: 14px;
        line-height: 30px;
        margin-top: 10px;
        width: 100%;
    }
    .rating-icon {
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        top: -40px;
    }
    .star {
        padding-top: 45px;
    }
    /* footer part */
    footer {
        padding: 50px 0;
        text-align: center;
    }
    .footer-text {
        font-size: 14px;
        font-weight: 500;
        padding-top: 20px;
        line-height: 150%;
        margin-bottom: 40px;
    }
    /* copy write */
    #copy_write {
        padding-bottom: 10px;
        text-align: center;
    }
    .copy_write-text {
        font-size: 14px;
    }
}